html {
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #1a1a1a;
  color: white;
  font-size: 18px;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 95%;
  height: 95%;
  border: 1px #ffc74d dashed;
  border-width: medium;
  border-radius: 5px;
  overflow: hidden;
}

nav {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 98%;
  margin-top: 1%;
}

nav #topic {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2rem;
  font-weight: bold;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

nav .hamburger {
  width: 50px;
  z-index: 1;
  border-radius: 5px;
  border: 1px #554235 dashed;
  border-width: medium;
  border-radius: 5px;
  cursor: pointer;
}

nav .hamburger .line {
  display: block;
  width: 35px;
  height: 4px;
  background: #ffc74d;
  margin: 8px auto;
  border-radius: 5px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

nav .menu {
  position: absolute;
  right: 0;
  width: 300px;
  height: 60vh;
  background-color: #554235;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  border-radius: 5px;
  overflow: auto;
}

nav .menu ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  list-style-type: none;
  margin-top: 60px;
  width: 100%;
}

nav .menu ul li {
  margin: 10px 10px;
}

nav .menu ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #ecf0f1;
  padding: 4px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .menu ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #ffc74d;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav .menu ul li a:hover {
  color: #8f8f8f;
}

nav .menu ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav .menu::-webkit-scrollbar {
  display: none;
}

nav.active .line:nth-child(1) {
  -webkit-transform: translateY(12px) rotate(45deg);
          transform: translateY(12px) rotate(45deg);
}

nav.active .line:nth-child(2) {
  opacity: 0;
}

nav.active .line:nth-child(3) {
  -webkit-transform: translateY(-12px) rotate(-45deg);
          transform: translateY(-12px) rotate(-45deg);
}

nav.active .menu {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

main {
  width: 98%;
  height: 86%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

main .panel {
  display: none;
}

main .panel.active {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

main .panel.active p {
  letter-spacing: .1rem;
  line-height: 1.4rem;
}

main .panel.active#profile_panel {
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .panel.active#profile_panel .description {
  width: 50%;
}

main .panel.active#profile_panel .avatar {
  width: 20%;
}

main .panel.active#profile_panel .avatar img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */